@import url("http://media.ledunk.com/fonts/nitti.css");

body {
	font-family: "nittilight", monospace !important;
	color: #bdbdbd;
	}


.crown-clean .imgtop {
	margin-top: 1.5em;
	margin-bottom: .75em;
	}

.center {
	text-align: center;
	}

.linebg {
	font-family: "nittilight", monospace !important;
	background: #333;
	padding: 1px 6px;
	color: #bdbdbd;
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	}

.twins {
	padding: 0 !important;
	}

.eb-copy {
	text-align: left;
	}