*{
	margin:0;
	padding:0;
}
body{
	font-family:"Haymaker", monospace;
	font-size:14px;
/* 	background:#f4f4f4; */
	background: #0d0d0d;
	color: #bdbdbd;
	overflow-y:scroll;
}
h1{
	font-size: 3.5em;
	font-weight: normal;
}
h2{
	font-size: 3em;
}
h3 {
	font-size: 2.5em;
}
a{
	color: #bdbdbd;
}
a:hover{
	color:#222;
}
p{
	padding:5px 0px;
}
#wrapper{
	width:100%;
	min-height:100vh;
}
#main-content {
	min-height: 100vh;
}

.content {
	/* width: 960px; */
	padding-top: 20%;
	text-align: center;
}
.box{
	width:49%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.hidden {
	visibility: hidden;
}
/* Form Style */
.form_wrapper{
	margin:0 auto;
	font-size:16px;

}

/*
.form_wrapper h3{
	padding:20px 30px 20px 30px;
	font-size:25px;
}
.form_wrapper form{
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}

form.forgot_password{
	width:300px;
}
.form_wrapper a{
	text-decoration:none;
	color:#ddd;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
	border: solid 1px #E5E5E5;
	margin: 8px 36px 0px 36px;
	padding: 1em;
	display:block;
	font-size:2em;
	width:76%;

}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
}
*/



.form_wrapper span.error{
	visibility:hidden;
	color:red;
	font-size:1em;
	display:block;
	margin:.25em .5em;
	padding: 1em 0;
	
	font-family: "Nitti-Light", monospace;
}

/*
.form_wrapper input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}
*/



/* //////////////////////////////////////////////////// dunk STEE // */

#bg { position: fixed; top: 0; left: 0; z-index: -1; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }


#arttypeform label {
    display: inline-block;
    cursor: pointer;
}

#hatsizeform {
	width: 300px;
text-align: center;
padding: 2em 0;
	}
.selected {
    background-color: #ccc;
}
#arttypeform label:hover {
    background-color: #efefef;
}
.input_hidden {
	display: none;
}

h1 a {
	padding: 0 20px;
	display: inline-block;
}

h1 a:hover {
	background: #eee;
}

.advance:hover {
	/* text-decoration: underline; */
}

.retreat {
	/* text-decoration: none; */
	}

.fanga {
		display: none;
		position: absolute;
		width: 160px;
		height: auto;
}

.fanga.bunny {
	border-radius: 90px;
	border: 4px solid 333 !important;
	-moz-box-shadow: 0px 0px 8px #333;
	-webkit-box-shadow: 0px 0px 8px #333;
	box-shadow: 0px 0px 8px #333;
}


































/* //////////////////////////////////////////////////// SILENCIO // */