@import url("../fonts/nitti.css");

.manifesto, .manifesto #wrapper, .manifesto #main-content {
	background: transparent !important;
	color: #bdbdbd !important;
	
	}
.manifesto {
	background: #0d0d0d !important;
	}

.manifesto #main-content {
	
	}

#bg {
	z-index: -1 !important;
	left: 0 !important;
	/* hide bg before it loads */
	height: 0;
	}

.logocurve {
	margin: 70px auto 0 auto;
	display: table-cell;
	opacity: 0;
	}

.topsname {
	font-size: 0;
	line-height: 0;
	opacity: 0;
}

.topsflat {
	width: 70%;
	height: auto;
	margin: 30px auto;
	display: table-cell;
	}	
	

.deal {
	width: 100% !important;
	text-align: center;
	font-size: 100%;
	margin: 0 auto 20px auto !important;
	color: #fff !important;
	opacity: 0;
	}

.eyeproh2 {
	text-align: center;
	opacity: 0;
	}
	
	
.eyeproh2 img {
	width: 140px;
	margin-top: -10px;
	
	}

.topsclub {
	margin: 2em 0;
	
	max-width: 140% !important;
	width: 140%;
	
	margin-left: -20%;
	}
	
.jPanelMenu-panel {
	overflow: hidden;
	}

.jPanelMenu-panel .topsclub {
	max-width: 100% !important;
	margin-left: 0;
	}


.jPanelMenu-panel .large-6 {
	margin: 20px 0;
	}

.jPanelMenu-panel #manny-buy h4 {
	font-size: 1.25em;
	}


.manifesto p {
	font-family: "nittilight", monospace !important;
	color: #bdbdbd !important;
	font-weight: bold;
	opacity: 0;
	}

.manifesto p strong {
		border-bottom: 1px solid #bdbdbd;
}

.manny-buy div {
	margin: 60px auto 100px auto;
	text-align: center;
	}

.manny-buy .price, .manny-buy h4 {
	color: #bdbdbd !important;
	}


.minibot {
	padding: 1.5em 0 3em;
	text-align: center;
	display: none;
	}

.minibot a {
	color: #333 !important;
	display: inline-block;
	padding: 2px 4px;
	margin: -2px -4px;
	
	
	/* font-family: "nittilight", monospace; */
	}

.minibot a:hover {
	background: #eee;
	color: #111;
	text-decoration: underline;
	}
	
.manifesto h5 {
	text-align: center;
	padding: .5em;
	font-size: .8em !important;
	margin-bottom: 1.2em !important;
	font-family: "nittilight" !important;
	color: #4e4e4e;
	}
	
.button.alert.alt-button {
color: #b20000 !important;
}	

.button.alert.alt-button:hover {
	color: white !important;
}