/***************************  ORANGE 49B1EB  ****************/

.footer-wrapper.footer-orange {
	background-image: url('/img/footer-pattern-gray.png');
	background-color: #49B1EB !important;	
	}

.footer-wrapper.footer-orange ul li a:hover, .footer-wrapper.footer-gray ul li a:hover  {
	background-color: #fff;
	color: #444 !important;
	}

.footer-wrapper.footer-orange .tennis, .footer-wrapper.footer-gray .tennis  {
	background: url(/img/ledunk-tennis-white.png) no-repeat;
	background-position: 6px 6px;
	}
.footer-wrapper.footer-orange .tennis:hover, .footer-wrapper.footer-gray .tennis:hover {
	background: #eee url(/img/ledunk-tennis-blk.png) no-repeat;
	background-position: 6px 6px;
	}

.footer-orange .footer .social-icons .icon, .footer-gray .footer .social-icons .icon { 
	border-color: #fff !important;
	color: #fff;
	}
.footer-orange .absolute-footer {
	color: white !important;
	}
/***************************  BLUE  3382be ****************/

.footer-wrapper.footer-blue {
	background-image: url('/img/footer-pattern-trans.png');
	background-color: #3382be !important;	
	}
.footer-blue ul li a:hover, .footer-blue .tennis:hover {
	background-color: #3382be;
	}

/***************************  Gray  3382be ****************/

.footer-wrapper.footer-gray {
	background-image: url('/img/footer-pattern-gray.png');
	background-size: 100% 60px !important; 
	background-color: #A8B4BD !important;	
	}

.footer-wrapper.footer-gray .tennis  {
	background: url(/img/ledunk-tennis-white.png) no-repeat;
	background-position: 6px 6px;
	}

.footer-wrapper.footer-gray .tennis:hover {
	background-color: #fff;
	opacity: .9;
	}
