@font-face {
    font-family: 'nittilight';
    src: url('nitti-webfont.eot');
    src: url('nitti-webfont.eot?#iefix') format('embedded-opentype'),
         url('nitti-webfont.woff') format('woff'),
         url('nitti-webfont.ttf') format('truetype'),
         url('nitti-webfont.svg#nitti_wm2light') format('svg');
    font-weight: normal;
    font-style: normal;

}